{% extends 'core/base.html' %}

{% block contenido %}
<div class="text-center">
    <h1 class="mb-4">Acerca de mí</h1>
    <p class="lead">
        Me llamo Santiago Enzo Farias, tengo 30 años, actualmente soy estudiante de la carrera Lincenciatura en informatica
        y estoy en busca de nuevas oportunidades para crecer en este rubro.
        Desde muy chico siempre me gusto la cultura japonesa y estoy organizando un viaje
        para conocer dicho pais. En preparacion para ese viaje aprendi como hablar japones e ingles.
        Espero que disfruten esta pagina, un Saludo!
    </p>
</div>
{% endblock %}